.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(181, 212, 244);
  }
  
  .flex-container > div {
    flex: 1 0 21%; /* 4 flex boxes per row */
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding:10px;
    text-align: center;
  }


 