.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(233, 57, 57); */
}

.flex-container > div {
  flex: 1 0 21%; /* 4 flex boxes per row */
  background-color: #f1f1f1df;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.pole {
  background-color: rgb(160, 153, 153);
  width: 100px;
  border-radius: 10px;
  margin: auto;
  padding-top:10px;
  padding-bottom: 10px;
}
.lights {
  background: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top:5px;
}

.stopwatch{
  font-family: "Orbitron";
  text-align: center;
  font-size: 50px;
  position: relative;
  color: grey;
  letter-spacing: 2px;
}

#myClock{
font-family: "Roboto Mono", monospace;
font-size:40px;
}

.rotate {
    
     transform: rotate(180deg);
}

.normal {
   
     transform: rotate(0deg);
}